.landing-page-container {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/landing_page.jpg");
    background-size: cover;
    background-position: center;
    text-shadow: 0, 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}

.landing-page-header {
    height: 40%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.landing-page-logo {
    font-size: 50px;
    font-weight: bold;
    background: linear-gradient(to top right, #eee, #333);
    background-clip: text;
    -webkit-text-fill-color: transparent
}

.landing-page-links {
    margin-top: 50px;
}

.landing-page-header a {
    text-decoration: none;
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .8);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent; 
}

.landing-page-header a:hover {
    color: rgba(255, 255, 255, 0.6);
    border-bottom-color: rgba(255, 255, 255, 0.6); 
}

.landing-page-header .active {
    background: none;
    color: white;
    border-bottom-color: white;
}

.landing-page-body {
    height: 60%;
    color: white;
}

.landing-page-body h1 {
    font-size: 42px;
}

.landing-page-body p {
    font-size: 18px;
}

.landing-page-footer {
    color: white;
    font-size: 20px;
    font-weight: 300;
}