.forgot-password.heading, 
.reset-password.heading {
    font-size: 25px;
}

.forgot-password-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.forgot-password-btn button {
    margin: 10px 3px;
}